language: C

os:
  - linux

cache:
  - apt

env:
  global:
    - VER_NGINX=1.9.11
    
compiler:
  - clang
  - gcc

before_script:
  - sudo apt-get -y install build-essential bzip2 libpcre3-dev libssl-dev daemon libgeoip-dev gcc clang g++

install:
  - wget "http://nginx.org/download/nginx-${VER_NGINX}.tar.gz" && tar -xf "nginx-${VER_NGINX}.tar.gz"
  - cd nginx-${VER_NGINX}
  - if [ "$CC" == "clang" ]; then  CXX=clang++ CFLAGS="-Wno-c++11-extensions" ; fi
script:
  - sudo ./configure --conf-path=/etc/nginx/nginx.conf --add-module=../naxsi_src/  --error-log-path=/var/log/nginx/error.log --http-client-body-temp-path=/var/lib/nginx/body  --http-fastcgi-temp-path=/var/lib/nginx/fastcgi --http-log-path=/var/log/nginx/access.log  --http-proxy-temp-path=/var/lib/nginx/proxy --lock-path=/var/lock/nginx.lock  --pid-path=/var/run/nginx.pid --with-http_ssl_module --without-mail_pop3_module --without-mail_smtp_module  --without-mail_imap_module --without-http_uwsgi_module  --without-http_scgi_module --with-ipv6 --prefix=/usr --with-http_realip_module
  - sudo make
  - sudo make install
  - sudo cp ../naxsi_config/naxsi_core.rules /etc/nginx/
