master_process off;
#worker_processes  1;
daemon off;

load_module /tmp/naxsi_ut/modules/ngx_http_naxsi_module.so;
events {
 worker_connections  1024;
 use select;
}
http {
 include /tmp/naxsi_ut/naxsi_core.rules;
 include       mime.types;
 default_type  application/octet-stream;
 sendfile        on;
 keepalive_timeout  65;
 server {
  listen 4242 ssl http2;
  ssl_certificate /tmp/nginx.crt;	
  ssl_certificate_key /tmp/nginx.key;
  server_name  localhost;
  set $naxsi_extensive_log 1;
  location / {
   LearningMode;
   SecRulesEnabled;
   DeniedUrl "/50x.html";
   CheckRule "$SQL >= 8" BLOCK;
   CheckRule "$RFI >= 8" BLOCK;
   CheckRule "$TRAVERSAL >= 4" BLOCK;
   CheckRule "$EVADE >= 4" BLOCK;
   CheckRule "$XSS >= 8" BLOCK;
   return 200;
#   error_log /tmp/ngx_error.log debug;
#   access_log /tmp/ngx_access.log;
#   root   html;
#   index  index.html index.htm;
  }
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
  return 500;
  #   root   html;
  }
 }
}

